bin/Debug/netcoreapp6.0/Confluent.Kafka.dll
bin/Debug/netcoreapp6.0/consumer
bin/Debug/netcoreapp6.0/consumer.deps.json
bin/Debug/netcoreapp6.0/consumer.dll
bin/Debug/netcoreapp6.0/consumer.pdb
bin/Debug/netcoreapp6.0/consumer.runtimeconfig.json
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Configuration.Ini.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/netcoreapp6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp6.0/runtimes/linux-arm64/native/librdkafka.so
bin/Debug/netcoreapp6.0/runtimes/linux-x64/native/alpine-librdkafka.so
bin/Debug/netcoreapp6.0/runtimes/linux-x64/native/centos6-librdkafka.so
bin/Debug/netcoreapp6.0/runtimes/linux-x64/native/centos7-librdkafka.so
bin/Debug/netcoreapp6.0/runtimes/linux-x64/native/librdkafka.so
bin/Debug/netcoreapp6.0/runtimes/osx-x64/native/librdkafka.dylib
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/libcrypto-1_1-x64.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/librdkafka.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/librdkafkacpp.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/libssl-1_1-x64.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/msvcp140.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/vcruntime140.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/zlib1.dll
bin/Debug/netcoreapp6.0/runtimes/win-x64/native/zstd.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/libcrypto-1_1.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/librdkafka.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/librdkafkacpp.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/libssl-1_1.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/msvcp140.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/vcruntime140.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/zlib1.dll
bin/Debug/netcoreapp6.0/runtimes/win-x86/native/zstd.dll
bin/Release/netcoreapp6.0/Confluent.Kafka.dll
bin/Release/netcoreapp6.0/consumer
bin/Release/netcoreapp6.0/consumer.deps.json
bin/Release/netcoreapp6.0/consumer.dll
bin/Release/netcoreapp6.0/consumer.pdb
bin/Release/netcoreapp6.0/consumer.runtimeconfig.json
bin/Release/netcoreapp6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.Configuration.Binder.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.Configuration.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.Configuration.Ini.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.FileProviders.Physical.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Release/netcoreapp6.0/Microsoft.Extensions.Primitives.dll
bin/Release/netcoreapp6.0/runtimes/linux-arm64/native/librdkafka.so
bin/Release/netcoreapp6.0/runtimes/linux-x64/native/alpine-librdkafka.so
bin/Release/netcoreapp6.0/runtimes/linux-x64/native/centos6-librdkafka.so
bin/Release/netcoreapp6.0/runtimes/linux-x64/native/centos7-librdkafka.so
bin/Release/netcoreapp6.0/runtimes/linux-x64/native/librdkafka.so
bin/Release/netcoreapp6.0/runtimes/osx-x64/native/librdkafka.dylib
bin/Release/netcoreapp6.0/runtimes/win-x64/native/libcrypto-1_1-x64.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/librdkafka.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/librdkafkacpp.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/libssl-1_1-x64.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/msvcp140.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/vcruntime140.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/zlib1.dll
bin/Release/netcoreapp6.0/runtimes/win-x64/native/zstd.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/libcrypto-1_1.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/librdkafka.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/librdkafkacpp.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/libssl-1_1.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/msvcp140.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/vcruntime140.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/zlib1.dll
bin/Release/netcoreapp6.0/runtimes/win-x86/native/zstd.dll
.vscode/launch.json
.vscode/tasks.json
obj/consumer.csproj.nuget.dgspec.json
obj/consumer.csproj.nuget.g.props
obj/consumer.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/netcoreapp6.0/apphost
obj/Debug/netcoreapp6.0/consumer.AssemblyInfo.cs
obj/Debug/netcoreapp6.0/consumer.AssemblyInfoInputs.cache
obj/Debug/netcoreapp6.0/consumer.assets.cache
obj/Debug/netcoreapp6.0/consumer.csproj.AssemblyReference.cache
obj/Debug/netcoreapp6.0/consumer.csproj.CopyComplete
obj/Debug/netcoreapp6.0/consumer.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp6.0/consumer.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp6.0/consumer.dll
obj/Debug/netcoreapp6.0/consumer.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp6.0/consumer.genruntimeconfig.cache
obj/Debug/netcoreapp6.0/consumer.pdb
obj/Debug/netcoreapp6.0/ref/consumer.dll
obj/Debug/netcoreapp6.0/refint/consumer.dll
obj/Release/netcoreapp6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/netcoreapp6.0/apphost
obj/Release/netcoreapp6.0/consumer.AssemblyInfo.cs
obj/Release/netcoreapp6.0/consumer.AssemblyInfoInputs.cache
obj/Release/netcoreapp6.0/consumer.assets.cache
obj/Release/netcoreapp6.0/consumer.csproj.AssemblyReference.cache
obj/Release/netcoreapp6.0/consumer.csproj.CopyComplete
obj/Release/netcoreapp6.0/consumer.csproj.CoreCompileInputs.cache
obj/Release/netcoreapp6.0/consumer.csproj.FileListAbsolute.txt
obj/Release/netcoreapp6.0/consumer.dll
obj/Release/netcoreapp6.0/consumer.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/netcoreapp6.0/consumer.genruntimeconfig.cache
obj/Release/netcoreapp6.0/consumer.pdb
obj/Release/netcoreapp6.0/PublishOutputs.ea59417628.txt
obj/Release/netcoreapp6.0/ref/consumer.dll
obj/Release/netcoreapp6.0/refint/consumer.dll
out/Confluent.Kafka.dll
out/consumer
out/consumer.deps.json
out/consumer.dll
out/consumer.pdb
out/consumer.runtimeconfig.json
out/Microsoft.Extensions.Configuration.Abstractions.dll
out/Microsoft.Extensions.Configuration.Binder.dll
out/Microsoft.Extensions.Configuration.dll
out/Microsoft.Extensions.Configuration.FileExtensions.dll
out/Microsoft.Extensions.Configuration.Ini.dll
out/Microsoft.Extensions.FileProviders.Abstractions.dll
out/Microsoft.Extensions.FileProviders.Physical.dll
out/Microsoft.Extensions.FileSystemGlobbing.dll
out/Microsoft.Extensions.Primitives.dll
out/runtimes/linux-arm64/native/librdkafka.so
out/runtimes/linux-x64/native/alpine-librdkafka.so
out/runtimes/linux-x64/native/centos6-librdkafka.so
out/runtimes/linux-x64/native/centos7-librdkafka.so
out/runtimes/linux-x64/native/librdkafka.so
out/runtimes/osx-x64/native/librdkafka.dylib
out/runtimes/win-x64/native/libcrypto-1_1-x64.dll
out/runtimes/win-x64/native/librdkafka.dll
out/runtimes/win-x64/native/librdkafkacpp.dll
out/runtimes/win-x64/native/libssl-1_1-x64.dll
out/runtimes/win-x64/native/msvcp140.dll
out/runtimes/win-x64/native/vcruntime140.dll
out/runtimes/win-x64/native/zlib1.dll
out/runtimes/win-x64/native/zstd.dll
out/runtimes/win-x86/native/libcrypto-1_1.dll
out/runtimes/win-x86/native/librdkafka.dll
out/runtimes/win-x86/native/librdkafkacpp.dll
out/runtimes/win-x86/native/libssl-1_1.dll
out/runtimes/win-x86/native/msvcp140.dll
out/runtimes/win-x86/native/vcruntime140.dll
out/runtimes/win-x86/native/zlib1.dll
out/runtimes/win-x86/native/zstd.dll
